.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorRight.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(12px);
    border-left: 1px solid rgba(255, 255, 255);
}