html{
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  overflow: visible;
}
.header{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
